@import "tailwindcss"
  @theme {
    --font-serif: 'Georgia', 'Times New Roman', 'serif';
    --font-sans: 'Arial', 'Helvetica', 'sans-serif';
    --font-mono: 'Courier New', 'Consolas', 'monospace';

    --color-primary: #8B5E3C;
    --color-secondary: #6F4F29;
    --color-tertiary: #D2B29A;
    --color-accent: #A06D4E;
    --color-light: #F5F5DC;
    --color-dark: #332922;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gray-500: #6B7280;
  }



.box-container {
  @apply border border-[var(--color-gray-500)] flex items-center justify-center;
}

.box-text {
  @apply text-[var(--color-secondary)];
}



.